# Ignore images and videos
*.jpg
*.mp4
*.ts

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

venv/*

# Ignore log files and everything in logs directory
*.log
logs/*

# Ignore the console error log
console-error-logs.txt

# Ignore secret files and everything in the config directory
config/*

# Ignore timelapsestorage folder and subdirectories 
timelapsestorage/*

# Ignore scripts (if you don't want to upload them to GitHub)
# flaskserver.py
# pimonitoring.py
# emailnotifs.py
# (add more as needed)
#scripts/*

# But don't ignore .gitkeep files
!.gitkeep
